.title {
  font-family: monospace;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragg {
  transition: all .2s ease;
}

button:disabled {
  background-color: gray;
}