.title {
  font-family: monospace;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

#paragraph {
  width: 70vw;
  margin-top: -12px;
  margin-bottom: 8px !important;
  font-size: 1.2rem !important;
  text-align: center;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  transform: scale(1.5);
  transition: transform .5s ease;
  box-shadow: 3px 3px 6px rgb(168, 168, 168);
  border: none !important;
}

button:hover {
  transform: scale(1.6);
  box-shadow: 3.5px 3.5px 8px rgb(168, 168, 168);
  transition: box-shadow 1s ease;
  transition: transform .5s ease;

}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.925) !important;
}

.btn-ligth:hover {
  background-color: rgba(0, 0, 0, 0.171) !important;
}

button:disabled {
  background-color: rgba(128, 128, 128, 0.445) !important;
  transform: scale(1.5) !important;
}

.btn-ligth:disabled {
  background-color: rgba(0, 0, 0, 0.171) !important;
}

button:enabled {
  cursor: pointer !important;
  border: none !important;
}
