:root {
  --background: #ffffff;
  --text-primary: #0f0f0f;
  --text-secondary: #4e4e4e;
  --shadow: 7px 15px 13px -4px #00000056;
  --disabled: #c9c9c9;
  --container: #000;
}

[data-theme='dark'] {
  --background: #05010a;
  --text-primary: #ffffff;
  --text-secondary: #a7a4a4;
  --shadow: 7px 15px 13px -4px #ffffff1b;
  --container: #adadad;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color .5s ease;
}

.title {
  text-align: center;
  margin: 5px;
}

.component_container {
  position: relative;
}

.main {
  display: flex;
  gap: 1em;
}

.container-switch {
  position: absolute;
  top: 0;
  left: 0;
  margin: 40px;
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  font-family: monospace;
  font-size: 1rem;
  gap: .4rem;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: var(--background);
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--text-primary);
}


input:checked+.slider:before {
  transform: translateX(1.5em);
}

h1 {
  font-family: monospace;
  font-size: 28px;
  margin: '0px 0px 0px 0px';
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#paragraph {
  width: 70vw;
  margin-top: -12px;
  margin-bottom: 0px !important;
  font-size: 1.2rem !important;
  text-align: center;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container);
  transition: background-color .5s ease;
}

button {
  transform: scale(1.5);
  transition: transform .5s ease;
  box-shadow: 3px 3px 6px var(--text-secondary);
  border: none !important;
}

button:hover {
  transform: scale(1.6);
  box-shadow: 3.5px 3.5px 8px var(--text-secondary);
  transition: box-shadow 1s ease;
  transition: transform .5s ease;

}

.btn-dark {
  background-color: var(--text-primary);
  color: var(--background);
  transition: background-color 1s ease;

}

.btn-light {
  background-color: var(--background);
  color: var(--background);
  transition: background-color 1s ease;

}

button:disabled {
  background-color: var(--disabled) !important;
  transform: scale(1.5) !important;
}

button:enabled {
  cursor: pointer !important;
  border: none !important;
}

@media (max-width: 620px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
    min-width: 300px !important;
  }
  .container-switch {
    transform: rotate(90deg);
    margin-left: -35px;
    margin-top: 90px;
  }
  
}